{% extends 'home/main.html'%}
{%load static%}
{% block content%} 
<section class="home" id="home" style= "background: url('{%static "images/banner1.jpg" %}');  height: '100vh';">
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">कैची AT YOUR DOORSTEP</div>
            <div class="text-2">
                <a href="/signup">SignUp</a>
                <a href="/login">Login</a>
            
            </div>
        </div>
    </div>
</section>

{% endblock content%}

{% block section %}
<section class="services" id="services" >
<section class="contact" id="contact">
    <div class="column right">
        <div class="text">Message me</div>
        <div class= "createdmesseges">
            {% for message in messages  %}
            <p>{{message}}</p>
            {% endfor %}
        </div>
        <form action="" method="POST" class="sign-in-form">
            {% csrf_token %}
            <div class="field">
                <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                <input type="text" name="username"  placeholder="Username" required>
            </div><br>
            <div class="field">
                <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                <input type="email"  name="email"  placeholder="Email" required>
            </div><br>
            <div class="field">
                <div class="input-group-text d-flex"><i class="fa fa-envelope text-info"></i></div>
                <input type="text" name="subject"  placeholder="Subject" required>
                
            </div><br>
            <div class="field textarea">
                <div class="input-group-text"><i class="fa fa-comment text-info"></i></div>
                <textarea cols="30" name="messgae"  rows="10" placeholder="Message.." required></textarea>
            </div>
            <br>
            <div class="button">
                <button  value="register" type="submit">Send message</button>
            </div>
        </form>
    </div>
</div>
</div>
</section>
</section>

{% endblock section%}

