{% extends 'home/main.html'%}
{%load static%}
{% block content%} 
    <section class="home1" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">कैची AT YOUR DOORSTEP</div>
                <a href="signup">SignUp</a>
                <a href="login">login</a>
            </div>
        </div>
    </section> 
    <section class="services" id="services">
        <div class="max-width">
            <h2 class="title">Our services</h2>
            <div class="serv-content">
                <div class="card">
                    <div class="box">
                        <i class="fas fa-paint-brush"></i>
                        <div class="text">Hair cutting</div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-chart-line"></i>
                        <div class="text">Products</div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <i class="fas fa-code"></i>
                        <div class="text">Gromming</div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem quia sunt, quasi quo illo enim.</p>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </section>

{% endblock content%}

   
    <!-- contact section start -->
{% block section %}
    
{% endblock section%}

