{% extends 'home/main.html'%}
{%load static%}
{% block content%}
{% comment %} Designe signup dashboard with css and javascript {% endcomment %}
<section class="home" id="home">    
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="" method="POST" class="sign-in-form">
          {% csrf_token %}
          <h2 class="title">Signup as Bikreta<h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="username" placeholder="Username" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="firstname" placeholder="Firstname" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="lastname" placeholder="Lastname" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="email" placeholder="Email" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="phone" placeholder="Phone" required/>
          </div>
{% comment %} Adding some location that placed by user in signup form  {% endcomment %}
         


{% endblock content%}   

{% block section%}  
{% endblock section%}