{% extends 'home/main.html'%}
{%load static%}
{% block content%}
<section class="home" id="home">    
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="" method="POST" class="sign-in-form">
          {% csrf_token %}
          <h2 class="title">sign up</h2>
          {% for message in messages  %}
            <p class= "createdmesseges">{{message}}</p>
          {% endfor %}
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="username" placeholder="Username" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="firstname" placeholder="firstname" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="lastname" placeholder="lastname" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="phone" placeholder="phone" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" name="email" placeholder="email" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" placeholder="Password" required/>
          </div>
          <button  type="submit" value="register" class="btn btn-success pl-5 pr-5">Register</button>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Wanna be seller?</h3>
          <p>
            click here if you want to be seller
          </p>
          <button class="btn transparent" >
            
            <a href="/signupasseller">sign up as seller </a>
          </button>
        </div>
        <img src="{% static 'images\log.png' %}" class="image" alt="" />
      </div>
    </div>
    
  </div>
</section>    


{% endblock content%}   

{% block section%}
 nitesh lund   
{% endblock section%}