{% extends 'customerdashboard/main.html' %}
{% block content %} 
<section class="second">
<div class="container">
    <div class="dropdownmenucustomer">
        {% for message in messages  %}
              <p class= "createdmesseges">{{message}}</p>
        {% endfor %}
        
     <h4 class="welcometext">welcome to SaloonDai</h4>    
   <!-- Example single danger button -->
   <div class="card paper">
   <form action="" method="POST" >
    {% csrf_token %} 
   <div class="usernamedata text-success">
    <label class="h3">Username</label>
   <input class="usernameedits text-success h5" id="username" type="text" name="username" value="{{request.session.username}}" readonly="readonly">
   </div>
   
   <h1 class="inputholder text-success"> Select your location</h1>
   <div class=" inputholder">
   <select class ="inputdata" name="location"  aria-placeholder="choose location" required>
     <option value="bhaktapur">Bhaktapur</option>
     <option value="kathmandu">kathmandu</option>
     <option value="maitidevi">Maitidevi</option>
     <option value="dillibazar">Dillibazar</option>
     <option value="Ganeshwor">Ganeshwor</option>
     <option value="Kamalpokhari">Kamalpokhari</option>
     <option value="Anamnagar">Anamnagar</option>
     <option value="chabel">Chabel</option>
     <option value="Gausala">Gausala</option>
     <option value="setopool">setopool</option>
     <option value="ratopool">ratopool</option>
 </select>
</div>
 <h2 class="text-success h1" >Set Time</h2>
 <div class ="inputholder">
     <input class ="inputdata" id="" type="time" name="Time" value="13:30">
 </div>
 <input class="usernameedits text-light h5" id="username" type="text" name="user_id" value="barber" placeholder="" readonly="readonly">
 <div class ="dataregister"> 
 <button  type="submit" value="register" class="btn btn-danger pl-5 pr-5">next</button> 
 </div>
</form> 
</div>
</div>
</section>
</div>
{% endblock content %}
{% block section%}
{% endblock section%}